.container{
    display: flex;
    background-color: var(--bg);
}
.menu{
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
    min-height: 100vh;
}
.content{
    flex: 5;
}
.children{
    padding: 20px;
}
.wrapper{
    display: flex;
    gap: 20px;
}
.main{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cards{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    color:#fff;
}
.side{
    flex: 1;
}